<h1>Hello, Admin</h1>

<div class="button-container">
  <dashboard-action-button
    title="Pending Tenant Registration"
    icon="assets/icon/superadmin/dashboard/icon-pending-tenant-registration.png"
    (pressed)="goto('/pending-tenant-registration')">
  </dashboard-action-button>

  <dashboard-action-button
    title="Account Management"
    icon="assets/icon/superadmin/dashboard/icon-account-management.png"
    (pressed)="goto('/profile')">
  </dashboard-action-button>

  <dashboard-action-button
    title="Tenant Management"
    icon="assets/icon/superadmin/dashboard/icon-tenant-management.png"
    (pressed)="goto('/tenant-management')">
  </dashboard-action-button>

  <dashboard-action-button
    title="Reporting And Statistics"
    icon="assets/icon/superadmin/dashboard/icon-reporting-and-statistics.png"
    (pressed)="goto('/reporting-and-statistics')">
  </dashboard-action-button>
</div>

  