<h1>Hello, Tenant</h1>

<div class="button-container">
    <dashboard-action-button-tenant
      title="Management Doument"
      icon="assets/icon/tenant/dashboard/icon-manage-document.png">
    </dashboard-action-button-tenant>
  
    <dashboard-action-button-tenant
      title="Account Management"
      icon="assets/icon/tenant/dashboard/icon-account-management.png">
    </dashboard-action-button-tenant>
  
    <dashboard-action-button-tenant
      title="Billing and Subscription"
      icon="assets/icon/tenant/dashboard/icon-billing-and-subscription.png">
    </dashboard-action-button-tenant>
  
    <dashboard-action-button-tenant
      title="Reporting And Statistics"
      icon="assets/icon/tenant/dashboard/icon-reporting-and-statistics.png">
    </dashboard-action-button-tenant>
</div>
