<div *ngIf="productData" class="product-info-layout message-content">
  <p *ngIf="productData.intro" class="product-intro">
    {{ productData.intro }}
  </p>

  <h4 *ngIf="productData.name" class="product-name">
    {{ productData.name }}
  </h4>

  <p *ngIf="productData.manufacturer" class="product-manufacturer">
    <strong>Nhà sản xuất:</strong> {{ productData.manufacturer }}
  </p>

  <p *ngIf="productData.category" class="product-category">
    <strong>Danh mục:</strong> {{ productData.category }}
  </p>

  <p class="product-price">
    <strong>Giá:</strong>
    <span
      *ngIf="
        productData.price !== undefined && productData.price !== null;
        else priceStringBlock
      "
    >
      {{ productData.price | currency : "VND" : "symbol" : "1.0-0" }}
    </span>
    <ng-template #priceStringBlock>
      {{ productData.priceString || "Đang cập nhật" }}
    </ng-template>
  </p>

  <p *ngIf="productData.shortDescription" class="product-description">
    {{ productData.shortDescription }}
  </p>

  <div
    *ngIf="productData.specifications && productData.specifications.length > 0"
    class="product-specs"
  >
    <strong>Tính năng chính:</strong>
    <ul>
      <li *ngFor="let spec of productData.specifications">
        {{ spec.value }}
      </li>
    </ul>
  </div>

  <!-- <p *ngIf="productData.promotion" class="product-promotion">
    <strong>Khuyến mãi:</strong> {{ productData.promotion }}
  </p>

  <p *ngIf="productData.stockStatus" class="product-stock">
    <strong>Tình trạng:</strong> {{ productData.stockStatus }}
  </p>

  <p *ngIf="productData.warranty" class="product-warranty">
    <strong>Bảo hành:</strong> {{ productData.warranty }}
  </p> -->

  <p *ngIf="productData.comment" class="product-comment bot-comment">
    {{ productData.comment }}
  </p>
</div>

<div *ngIf="!productData" class="message-content">
  <p>Không thể hiển thị thông tin chi tiết sản phẩm.</p>
</div>
