.header-container {
  width: 323px;
  height: 36px;
  margin-bottom: 30px;
}
.header-title {
  color: #007bff;
  font-family: "Karla", sans-serif;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
}
.header-underline {
  width: 160px;
  height: 2px;
  margin: 4px auto 0;
  background-color: #007bff;
}
@media (max-width: 640px) {
  .header-container {
    width: 100%;
  }
}
