<h1>Hello, {{ tenantFullName }}</h1>

<div class="button-container">
    <dashboard-action-button-tenant
      title="Doument Management"
      icon="assets/icon/tenant/dashboard/icon-manage-document.png"
      (pressed)="goto('/document')">
    </dashboard-action-button-tenant>
  
    <dashboard-action-button-tenant
      title="Account Management"
      icon="assets/icon/tenant/dashboard/icon-account-management.png"
      (pressed)="goto('/tenant-profile')">
    </dashboard-action-button-tenant>
  
    <dashboard-action-button-tenant
      title="Billing and Subscription"
      icon="assets/icon/tenant/dashboard/icon-billing-and-subscription.png"
      (pressed)="goto('/dashboard_tenant')">
    </dashboard-action-button-tenant>
  
    <dashboard-action-button-tenant
      title="Reporting And Statistics"
      icon="assets/icon/tenant/dashboard/icon-reporting-and-statistics.png"
      (pressed)="goto('/viewreport')">
    </dashboard-action-button-tenant>
</div>
